RestFulExampleViaPostman/src/main/webapp/wsdl/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rest.tcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rest.tcs.com" xmlns:intf="http://rest.tcs.com" xmlns:tns1="http://core.rs.ws.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://rest.tcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://core.rs.ws.javax"/>
   <element name="getMsg">
    <complexType>
     <sequence>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMsgResponse">
    <complexType>
     <sequence>
      <element name="getMsgReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMsgResponse">

      <wsdl:part element="impl:getMsgResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMsgRequest">

      <wsdl:part element="impl:getMsg" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWorldService">

      <wsdl:operation name="getMsg">

         <wsdl:input message="impl:getMsgRequest" name="getMsgRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMsgResponse" name="getMsgResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldServiceSoapBinding" type="impl:HelloWorldService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMsg">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMsgRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMsgResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldServiceService">

      <wsdl:port binding="impl:HelloWorldServiceSoapBinding" name="HelloWorldService">

         <wsdlsoap:address location="http://localhost:8080/RESTfulExample/services/HelloWorldService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
